In [1]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
import matplotlib.pyplot as plt

In [5]:
individual_df = pd.read_csv('IndividualDetails.csv', index_col = 0)
individual_df['diagnosed_timestamp'] = pd.to_datetime(individual_df.diagnosed_date, dayfirst=True)
individual_df['status_change_timestamp'] = pd.to_datetime(individual_df.status_change_date, dayfirst=True)
individual_df['case_value'] = [1]*len(individual_df.iloc[:,1])
individual_df.sort_values(by=['diagnosed_timestamp'])
individual_df.head()

,government_id,diagnosed_date,age,gender,detected_city,detected_district,detected_state,nationality,current_status,status_change_date,notes,diagnosed_timestamp,status_change_timestamp,case_value
id,,,,,,,,,,,,,,
0,KL-TS-P1,30/01/2020,20,F,Thrissur,Thrissur,Kerala,India,Recovered,14/02/2020,Travelled from Wuhan,2020-01-30,2020-02-14,1
1,KL-AL-P1,02/02/2020,NaN,NaN,Alappuzha,Alappuzha,Kerala,India,Recovered,14/02/2020,Travelled from Wuhan,2020-02-02,2020-02-14,1
2,KL-KS-P1,03/02/2020,NaN,NaN,Kasaragod,Kasaragod,Kerala,India,Recovered,14/02/2020,Travelled from Wuhan,2020-02-03,2020-02-14,1
3,DL-P1,02/03/2020,45,M,East Delhi (Mayur Vihar),East Delhi,Delhi,India,Recovered,15/03/2020,"Travelled from Austria, Italy",2020-03-02,2020-03-15,1
4,TS-P1,02/03/2020,24,M,Hyderabad,Hyderabad,Telangana,India,Recovered,02/03/2020,"Travelled from Dubai to Bangalore on 20th Feb,...",2020-03-02,2020-03-02,1

In [13]:
active_df = individual_df[
                    (
                        (individual_df['status_change_timestamp'] <= '2020-03-27') & 
                        (individual_df['current_status'] != 'Recovered') &
                        (individual_df['current_status'] != 'Deceased') & 
                        (individual_df['current_status'] != 'Migrated')
                    )
                            |
                    (
                        (individual_df['status_change_timestamp'] >= '2020-03-27') & 
                        (individual_df['diagnosed_timestamp'] <= '2020-03-27')
                    )
    ]
active_df = active_df.dropna(subset=['detected_city'])

In [14]:
sum1 = 0
for i in active_df['detected_city'].value_counts():
    if i >= 10:
        sum1 +=1
sum1

9

In [15]:
gk = active_df.groupby(['detected_state','detected_city'], as_index= False).sum()
gk = gk[gk['case_value']>=10]

In [16]:
gk['detected_state'].value_counts()

Maharashtra    3
Rajasthan      1
Karnataka      1
Gujarat        1
Kerala         1
Haryana        1
Telangana      1
Name: detected_state, dtype: int64

In [17]:
active_df = individual_df[
                    (
                        (individual_df['status_change_timestamp'] <= '2020-04-03') & 
                        (individual_df['current_status'] != 'Recovered') &
                        (individual_df['current_status'] != 'Deceased') & 
                        (individual_df['current_status'] != 'Migrated')
                    )
                            |
                    (
                        (individual_df['status_change_timestamp'] >= '2020-04-03') & 
                        (individual_df['diagnosed_timestamp'] <= '2020-04-03')
                    )
    ]
active_df = active_df.dropna(subset=['detected_city'])

sum1 = 0
for i in active_df['detected_city'].value_counts():
    if i >= 10:
        sum1 +=1
sum1
gk = active_df.groupby(['detected_state','detected_city'], as_index= False).sum()
gk = gk[gk['case_value']>=10]
gk['detected_state'].value_counts()

Maharashtra      7
Tamil Nadu       3
Rajasthan        1
Delhi            1
Gujarat          1
Uttar Pradesh    1
Telangana        1
Kerala           1
Karnataka        1
Name: detected_state, dtype: int64

In [18]:
active_df = individual_df[
                    (
                        (individual_df['status_change_timestamp'] <= '2020-04-10') & 
                        (individual_df['current_status'] != 'Recovered') &
                        (individual_df['current_status'] != 'Deceased') & 
                        (individual_df['current_status'] != 'Migrated')
                    )
                            |
                    (
                        (individual_df['status_change_timestamp'] >= '2020-04-10') & 
                        (individual_df['diagnosed_timestamp'] <= '2020-04-10')
                    )
    ]
active_df = active_df.dropna(subset=['detected_city'])

sum1 = 0
for i in active_df['detected_city'].value_counts():
    if i >= 10:
        sum1 +=1
sum1
gk = active_df.groupby(['detected_state','detected_city'], as_index= False).sum()
gk = gk[gk['case_value']>=10]
gk['detected_state'].value_counts()

Maharashtra       11
Andhra Pradesh     3
Tamil Nadu         3
Rajasthan          2
Karnataka          1
Uttar Pradesh      1
Punjab             1
Odisha             1
Gujarat            1
Delhi              1
Kerala             1
Telangana          1
Name: detected_state, dtype: int64