In [1]:
import numpy as np
import pandas as pd

In [4]:
covid_india_df = pd.read_csv('covid_19_india.csv')

In [5]:
covid_india_df.head()

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,30/01/20,6:00 PM,Kerala,1,0,0,0,1
1,2,31/01/20,6:00 PM,Kerala,1,0,0,0,1
2,3,01/02/20,6:00 PM,Kerala,2,0,0,0,2
3,4,02/02/20,6:00 PM,Kerala,3,0,0,0,3
4,5,03/02/20,6:00 PM,Kerala,3,0,0,0,3

In [9]:
gk = covid_india_df.groupby(['Date']).sum()
gk

            Sno  Cured  Deaths  Confirmed
Date
01/02/20      3      0       0          2
01/03/20     32      0       0          3
01/04/20  15776    144      41       1834
01/05/20  47824   9065    1152      34972
02/02/20      4      0       0          3
...         ...    ...     ...        ...
30/01/20      1      0       0          1
30/03/20  13650    102      31       1251
30/04/20  46800   8373    1075      33330
31/01/20      2      0       0          1
31/03/20  14434    124      35       1397

[95 rows x 4 columns]

In [12]:
gk.loc["17/03/20", : ]

Sno          2775
Cured          14
Deaths          3
Confirmed     137
Name: 17/03/20, dtype: int64

In [10]:
gk.loc["24/03/20", : ]

Sno          7884
Cured          40
Deaths          9
Confirmed     519
Name: 24/03/20, dtype: int64

In [16]:
gk.loc["01/04/20", : ]

Sno          15776
Cured          144
Deaths          41
Confirmed     1834
Name: 01/04/20, dtype: int64

In [14]:
gk.loc["07/04/20", : ]

Sno          22444
Cured          353
Deaths         124
Confirmed     4789
Name: 07/04/20, dtype: int64

In [15]:
gk.loc["14/04/20", : ]

Sno          31119
Cured         1190
Deaths         353
Confirmed    10815
Name: 14/04/20, dtype: int64

In [17]:
gk.loc["21/04/20", : ]

Sno          38742
Cured         3260
Deaths         603
Confirmed    18985
Name: 21/04/20, dtype: int64